
body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://images.unsplash.com/photo-1476842321362-f5bb3a58ab25?q=80&w=3174&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  text-align: center;
}
form {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 400px;
  backdrop-filter: blur(15px);
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  margin-bottom: 20px;
}
h1 {
  color: #fff;
}
label {
  display: block;
  margin: 10px 0;
}

input,
select,
button {
  margin: 8px 0;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: lightgreen;
  border: 2px solid #fff;
border-radius: 25PX;
  color: black;
  cursor: pointer;
}

#result {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px);
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  width: 30vw;
}

h2 {
  color: #fff;
}

p {
  margin: 8px 0;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 5px;
}
@media (max-width: 600px) {
  form,
  #result {
    width: 90%;
  }
}
